.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
}
  
.ctr {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}
  
.buttons {
    display: flex; /* Display buttons in a row */
    justify-content: center; /* Center buttons horizontally */
    align-items: center; /* Center buttons vertically */
}
  
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
button:hover {
    background-color: #555;
}